.container {
  display: flex; justify-content: center; flex-wrap: wrap; gap: 2rem
}
.block {
  width: 650px;display: flex;
justify-content: center; flex-direction: column; border: 2px solid black;
padding: 15px;
}


