.armario {
    background-color: beige;
    border-radius: 20px;
    margin: 0 auto;
    width: 500px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-armario-container {
    height: 200px;
    width: 200px;
    border: 2px solid grey;
    border-radius: 100%;
    overflow: hidden;
}

.img-armario {
    width: 200px;
    margin: 0 auto;
}

.btn-armario-continer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-armario {
    font-size: 25px;
    height: 50px;
    width: 150px;
}